@using DDM.Authorization
@using DDM.Web.TagHelpers
@model DDM.DynamicEntityParameters.Dto.DynamicParameterDto

@section Scripts
{
    <script>
        var dynamicParameterId = @Model.Id;
        var currentInputType = '@Model.InputType';
    </script>

    <script abp-src="/view-resources/Areas/Portal/Views/_Bundles/IInputTypes.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Areas/Portal/Views/_Bundles/dynamic-parameters-detail.js" asp-append-version="true"></script>
}

@{
    var breadcrumbs = new List<BreadcrumbItem>()
    {
        new BreadcrumbItem(Url.Action("Index", "DynamicParameter", new {Area = "Portal"}), @L("DynamicParameters")),
        new BreadcrumbItem(L("DynamicParameterDetail")),
        new BreadcrumbItem(Model.ParameterName),
    };
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <abp-page-subheader title="@L("DynamicParameterDetail")" breadcrumbs="breadcrumbs">
        @if (IsGranted(AppPermissions.Pages_Administration_DynamicParameters_Edit))
        {
            <button class="btn btn-primary btn-sm" id="dynamic-parameter-edit">
                @L("Edit")
            </button>
        }
        @if (IsGranted(AppPermissions.Pages_Administration_DynamicParameters_Delete))
        {
            <button class="btn btn-danger btn-sm" id="dynamic-parameter-delete">
                @L("Delete")
            </button>
        }
    </abp-page-subheader>
    
    <div class="@(await GetContainerClass())">
        <div class="col-12">
                        <div class="card card-custom gutter-b">
                            <div class="card-body">
                                <table class="table table-separate table-head-custom no-footer dtr-inline dt-responsive nowrap border-0 m-0">
                                    <tr>
                                        <td class="font-weight-bold text-right border-0" style="width:300px"> @L("ParameterName"):</td>
                                        <td class="border-0">@Model.ParameterName</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold text-right border-0">@L("InputType"):</td>
                                        <td class="border-0">@Model.InputType</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold text-right border-0">@L("Permission"):</td>
                                        <td class="border-0">@Model.Permission</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="card card-custom gutter-b" id="portlet-dynamic-parameter-values">
                            <div class="card-header align-items-center border-0 mt-4">
                                <h3 class="card-title align-items-start flex-column">
                                    <span class="font-weight-bolder text-dark">@L("DynamicParameterValues")</span>
                                </h3>
                                <div class="card-toolbar">
                                    <button id="refresh-dynamic-parameter-values-btn" class="btn btn-outline-brand btn-sm btn-icon btn-icon-md">
                                        <i class="flaticon2-refresh"></i>
                                    </button>
                                    @if (IsGranted(AppPermissions.Pages_Administration_DynamicParameterValue_Create))
                                    {
                                        <button id="add-new-dynamic-parameter-value" class="btn btn-outline-brand btn-sm btn-icon btn-icon-md">
                                            <i class="flaticon2-plus"></i>
                                        </button>
                                    }
                                </div>
                            </div>
        
                            <div class="card-body">
                                <div class="align-items-center">
                                    <table id="DynamicParameterValuesTable" class="display table table-separate table-head-custom no-footer dtr-inline dt-responsive nowrap">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th style="text-align: center; width: 60px">@L("Actions")</th>
                                            <th>@L("Values")</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
    </div>
</div>
