
@using DDM.Web.Areas.Portal.Models.SalesOrders
@model SalesOrderViewModel



@foreach (var item in Model.SalesOrderLines)
{

<label for="Date">@L("Name")</label>
}

@if(Model.SalesOrderLines.Count == 0)
{
<div class="col-2">
    <div class="form-group">
        <label for="Date">@L("Name")</label>
        <input id="Name" name="Name" type="text" class="form-control m-input" />
    </div>
</div>
<div class="col-3">
    <div class="form-group">
        <label for="Deadline">@L("Description")</label>
        <textarea id="Customer_Address" name="address" rows="3" maxlength="256" class="form-control"></textarea>
    </div>
</div>
<div class="col-1">
    <div class="form-group">
        <label for="Date">@L("Material")</label>
        <input id="Name" name="Name" value="@Model.SalesOrder.Date" type="text" class="form-control m-input" />
    </div>
</div>
<div class="col-1">
    <div class="form-group">
        <label for="Date">@L("Machine")</label>
        <input id="Name" name="Name" value="@Model.SalesOrder.Date" type="text" class="form-control m-input" />
    </div>
</div>
<div class="col-1">
    <div class="form-group">
        <label for="Date">@L("Quantity")</label>
        <input id="Name" name="Name" value="@Model.SalesOrder.Date" type="text" class="form-control m-input" />
    </div>
</div>
<div class="col-2">
    <div class="form-group">
        <label for="Date">@L("Price")</label>
        <input id="Name" name="Name" value="@Model.SalesOrder.Date" type="text" class="form-control m-input" />
    </div>
</div>
<div class="col-2">
    <div class="form-group">
        <label for="Date">@L("Amount")</label>
        <input id="Name" name="Name" value="@Model.SalesOrder.Date" type="text" class="form-control m-input" />
    </div>
</div>

}

