
@using DDM.Web.Areas.Portal.Models.SalesOrders
@model CreateOrEditSalesOrderModalViewModel

@foreach (var item in Model.SalesOrder.SalesOrderLines)
{
<div class="form-group col-12 row subcat-set">
    <div class="col-2">
        <label for="SalesOrderLine_Name">@L("Name")</label>
        <textarea id="SalesOrderLines[0]_Name" name="SalesOrderLines[0].Name" value="@item.Name" type="text" class="form-control"
                    minlength="@DDM.SalesOrderLines.SalesOrderLineConsts.MinNameLength" maxlength="@DDM.SalesOrderLines.SalesOrderLineConsts.MaxNameLength" required/>
    </div>
    <div class="col-3">
        <label for="SalesOrderLine_Description">@L("Description")</label>
        <textarea id="SalesOrderLines[0]_Description" name="SalesOrderLines[0].Description" value="@item.Description" type="text" class="form-control"
                  minlength="@DDM.SalesOrderLines.SalesOrderLineConsts.MinDescriptionLength" maxlength="@DDM.SalesOrderLines.SalesOrderLineConsts.MaxDescriptionLength" />
    </div>
    <div class="col-1">
        <label for="SalesOrderLine_Material">@L("Material")</label>
        @Html.DropDownList("SalesOrderLines[0].MaterialId", new SelectList(Model.SalesOrderMaterialList, "Id", "DisplayName",
            (Model.IsEditMode ? item.MaterialId.ToString() : "")), " ", new { @id = "SalesOrderLine[0]_MaterialId", @class = "form-control", @required = "required" })
    </div>
    <div class="col-1">
        <label for="SalesOrderLine_Machine">@L("Machine")</label>
        @Html.DropDownList("SalesOrderLines[0].MachineId", new SelectList(Model.SalesOrderMachineList, "Id", "DisplayName",
            (Model.IsEditMode ? item.MachineId.ToString() : "")), " ", new { @id = "SalesOrderLine[0]_MachineId", @class = "form-control", @required = "required" })
    </div>
    <div class="col-1">
        <label for="SalesOrderLine_Quantity">@L("Quantity")</label>
        <input id="SalesOrderLine[0]_Quantity" name="SalesOrderLines[0].Quantity" value="@item.Quantity" type="text" class="form-control calc number-format" required/>
    </div>
    <div class="col-1">
        <label for="SalesOrderLine_UnitPrice">@L("UnitPrice")</label>
        <input id="SalesOrderLine[0]_UnitPrice" name="SalesOrderLines[0].UnitPrice" value="@item.UnitPrice" type="text" class="form-control calc number-format" required/>
    </div>
    <div class="col-2">
        <label for="SalesOrderLine_LineAmount">@L("LineAmount")</label>
        <input id="SalesOrderLine[0]_LineAmount" name="SalesOrderLines[0].LineAmount" value="@item.LineAmount" type="text" class="form-control calc line-amount" required/>
    </div>
    <div class="col-1">
        <input id="SalesOrderLine[0]_Id" name="SalesOrderLine[0].Id" value="@item.MarkForDelete" type="hidden" class="Id" />
        <input id="SalesOrderLine[0]_MarkForDelete" name="SalesOrderLine[0].MarkForDelete" value="@item.MarkForDelete" type="hidden" class="mark-for-delete" />
        <button id="SalesOrderLine[0]_Delete" name="Delete" class="btn btn-link btn-sm delete-subcat">@L("Delete")</button>
    </div>
</div>}