
@using DDM.Web.Areas.Portal.Models.SalesOrders
@using Abp.Application.Services.Dto
@model SalesOrderViewModel


@foreach (var item in Model.SalesOrderLines)
{
<div class="row line-set">
    <input type="hidden" id="Id_0" name="Id[0]" value="@item.Id" class="line-id" />
    <input type="hidden" id="MarkForDelete_0" name="MarkForDelete[0]" value="@item.MarkForDelete" class="mark-for-delete" />
    <div class="col-3">
        <div class="form-group">
            <label for="Name">@L("Name")</label>
            <input id="Name_0" name="Name[0]" type="text" value="@item.Name" class="form-control m-input" />
            <span class="form-text text-muted">Nama barang</span>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <label for="Deadline">@L("Description")</label>
            <textarea id="Address_0" name="Address[0]" rows="2" maxlength="256" class="form-control"></textarea>
            <span class="form-text text-muted">Bahan, ketebalan, dimensi, finishing</span>
        </div>
    </div>
    <div class="col-1">
        <div class="form-group">
            <label for="Quantity">@L("Quantity")</label>
            <input id="Quantity_0" name="Quantity[0]" value="@(item.Quantity == 0 ? "" : @item.Quantity.ToString("N0"))" type="text" class="form-control m-input currency-format calc" />
        </div>
    </div>
    <div class="col-2">
        <div class="form-group">
            <label for="Price">@L("Price")</label>
            <input id="Price_0" name="Price[0]" value="@(item.UnitPrice == 0 ? "" : @item.UnitPrice.ToString("N0"))" type="text" class="form-control m-input currency-format" />

        </div>
    </div>
    <div class="col-2">
        <div class="form-group">
            <label for="Amount">@L("Amount")</label>
            <div class="input-group">
                <input id="Amount_0" name="Amount[0]" value="@(item.LineAmount == 0 ? "" : @item.LineAmount.ToString("N0"))" type="text" class="form-control m-input bg-light-primary currency-format line-amount" readonly />
                &nbsp;&nbsp;
                <button id="DeleteLineButton" class="btn btn-text-danger btn-sm delete-line" title="Delete Line"><i class="fa fa-trash-alt"></i></button>
            </div>
        </div>
    </div>
</div>

}

