
@using System.Globalization
@using DDM.Web.Areas.Portal.Models.Common.Modals
@using DDM.Web.Areas.Portal.Models.Customers
@model CreateOrEditCustomerModalViewModel

@await Html.PartialAsync("~/Areas/Portal/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditCustomer")) : L("CreateNewCustomer")))

<div class="modal-body">
        <div id="CustomerInformationsTab">
            <form name="CustomerInformationsForm" role="form" novalidate class="form-validation">

                @if (Model.IsEditMode)
                {
                    <input type="hidden" name="id" value="@Model.Customer.Id" />
                }

				            
						<div class="form-group">
							<label for="customerCategoryId">@L("CustomerCategory")</label>
							@Html.DropDownList("customerCategoryId", new SelectList(Model.CustomerCustomerCategoryList,"Id","DisplayName", (Model.IsEditMode ? Model.Customer.CustomerCategoryId.ToString() : "")),@L("SelectACustomerCategory"), new { @class = "form-control"  , @required="required" })
						</div>


				
								<div class="form-group">
									<label for="Customer_Name">@L("Name")</label>
									<input class="form-control" id="Customer_Name" value="@Model.Customer.Name" type="text" name="name"  required  maxlength="@DDM.Customers.CustomerConsts.MaxNameLength"  minlength="@DDM.Customers.CustomerConsts.MinNameLength"  />
								</div>
					
								<div class="form-group">
									<label for="Customer_Company">@L("Company")</label>
									<input class="form-control" id="Customer_Company" value="@Model.Customer.Company" type="text" name="company"     />
								</div>
					
								<div class="form-group">
									<label for="Customer_Phone">@L("Phone")</label>
									<input class="form-control" id="Customer_Phone" value="@Model.Customer.Phone" type="text" name="phone"     />
								</div>
					
								<div class="form-group">
									<label for="Customer_Email">@L("Email")</label>
									<input class="form-control" id="Customer_Email" value="@Model.Customer.Email" type="text" name="email"     />
								</div>
					
								<div class="form-group">
									<label for="Customer_Address">@L("Address")</label>
									<input class="form-control" id="Customer_Address" value="@Model.Customer.Address" type="text" name="address"     />
								</div>
					

            </form>
        </div>
</div>

@await Html.PartialAsync("~/Areas/Portal/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
