@using DDM.Authorization
@using DDM.Web.Areas.Portal.Models.SalesOrders
@using DDM.Web.Areas.Portal.Startup
@using Abp.Application.Services.Dto
@model SalesOrderViewModel

@{
    ViewBag.CurrentPageName = PortalPageNames.Common.SalesOrders;
}

@section Scripts
{
    <script abp-src="/view-resources/Areas/Portal/Views/SalesOrders/CreateOrEdit.js" asp-append-version="true"></script>

}

@section Styles
{
    <link rel="stylesheet" abp-href="/metronic/common/css/wizard/wizard-1.css" asp-append-version="true" />
}

<div class="content d-flex flex-column flex-column-fluid">

    @if (Model.IsEditMode)
    {
        <abp-page-subheader title="@L("EditSalesOrders")" description="@Model.SalesOrder.Number">
        </abp-page-subheader>
    }
    else
    {
        <abp-page-subheader title="@L("CreateSalesOrders")" description="@L("CreateSalesOrdersInfo")">
        </abp-page-subheader>
    }

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="wizard wizard-1" id="kt_wizard" data-wizard-state="first" data-wizard-clickable="false">

                    <!--begin::Wizard Nav-->
                    <div class="wizard-nav border-bottom">
                        <div class="wizard-steps">
                            <!--begin::Wizard Step 1 Nav-->
                            <div class="wizard-step" data-wizard-type="step" data-wizard-state="current">
                                <div class="wizard-label">
                                    <i class="wizard-icon flaticon-bus-stop"></i>
                                    <h3 class="wizard-title">Order Header</h3>
                                </div>
                                <span class="wizard-arrow">
                                    <i class="wizard-icon flaticon2-next"></i>
                                </span>
                            </div>
                            <!--end::Wizard Step 1 Nav-->
                            <!--begin::Wizard Step 2 Nav-->
                            <div class="wizard-step" data-wizard-type="step" data-wizard-state="pending">
                                <div class="wizard-label">
                                    <i class="wizard-icon flaticon-list"></i>
                                    <h3 class="wizard-title">Order Details</h3>
                                </div>
                                <span class="wizard-arrow">
                                    <i class="wizard-icon flaticon2-next"></i>
                                </span>
                            </div>
                            <!--end::Wizard Step 2 Nav-->
                            <!--begin::Wizard Step 5 Nav-->
                            <div class="wizard-step" data-wizard-type="step" data-wizard-state="pending">
                                <div class="wizard-label">
                                    <i class="wizard-icon flaticon-globe"></i>
                                    <h3 class="wizard-title">Review and Submit</h3>
                                </div>
                                <span class="svg-icon svg-icon-xl wizard-arrow last">
                                    <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Navigation/Arrow-right.svg-->
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                            <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1"></rect>
                                            <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)"></path>
                                        </g>
                                    </svg>
                                    <!--end::Svg Icon-->
                                </span>
                            </div>
                            <!--end::Wizard Step 5 Nav-->
                        </div>
                    </div>
                    <!--end::Wizard Nav-->
                    <!--begin::Wizard Body-->
                    <div class="row justify-content-center my-8 px-5 ">
                        <div class="col-12 d-flex justify-content-center">
                            <!--begin::Wizard Form-->
                            <form name="SalesOrderInformationsForm" id="SalesOrderInformationsForm" role="form" novalidate class="form-validation">
                                @if (Model.IsEditMode)
                                {
                                    <input type="hidden" name="Id" id="Id" value="@Model.SalesOrder.Id" />
                                }

                                <!--begin::Wizard Step 1-->
                                <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">

                                    <!--begin::Input-->
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="form-group">
                                                <label for="CustomerId">@L("Customer")</label>
                                                <div class="input-group">

                                                    @Html.DropDownList(
                                                          "CustomerId",
                                                          Model.Customers.Select(i => i.ToSelectListItem()),
                                                              new
                                                              {
                                                                  @class = "form-control selectpicker",
                                                                  data_live_search = "true",
                                                                  id = "CustomerId"
                                                              })

                                                    <button id="CreateNewCustomerButton" class="btn btn-text-info" title="Create New Customer"><i class="fa fa-plus"></i></button>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="ProductionStatusId">@L("Status")</label>
                                                <div class="input-group">
                                                    @Html.DropDownList(
                                                          "ProductionStatusId",
                                                          Model.ProductionStatuses.Select(i => i.ToSelectListItem()),
                                                              new
                                                              {
                                                                  @class = "form-control selectpicker",
                                                                  data_live_search = "true",
                                                                  id = "ProductionStatusId"
                                                              })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="Date">@L("Date")</label>
                                                <input id="SalesOrder_Date" name="Date" value="@Model.SalesOrder.Date" type="text" class="form-control m-input date-picker" />
                                            </div>
                                        </div>
                                        <div class="col-7">
                                            <div class="form-group">
                                                <label for="Deadline">@L("Deadline")</label>
                                                <div class="input-group">
                                                    <input id="SalesOrder_Deadline" name="Deadline" value="@Model.SalesOrder.Deadline" type="text" class="form-control m-input date-picker" required />
                                                    <button id="1Button" class="btn btn-text-success" title="Deadline +1 day">+ 1 </button>
                                                    <button id="2Button" class="btn btn-text-success" title="Deadline +2 days">+ 2 </button>
                                                    <button id="3Button" class="btn btn-text-success" title="Deadline +3 days">+ 3 </button>
                                                    <button id="4Button" class="btn btn-text-success" title="Deadline +4 days">+ 4 </button>
                                                    <button id="5Button" class="btn btn-text-success" title="Deadline +5 days">+ 5 </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Input-->
                                </div>
                                <!--end::Wizard Step 1-->
                                <!--begin::Wizard Step 2-->
                                <div data-wizard-type="step-content" data-wizard-state="current">
                                    <div class="input-group">
                                        <div class="form-group">
                                            <button id="AddLineButton" class="btn btn-outline-success btn-sm" title="Add Line"><i class="fa fa-bars"></i> Add </button>
                                        </div>
                                    </div>

                                    <!--begin::Input-->
                                    <div class="subcat-sets">

                                        @await Html.PartialAsync("~/Areas/Portal/Views/Common/SalesOrder/_SalesOrderLine.cshtml", Model)
                                    </div>
                                    <!--end::Input-->
                                </div>
                                <!--end::Wizard Step 2-->
                                <!--begin::Wizard Step 3-->
                                <div class="pb-5" data-wizard-type="step-content">
                                    <!--begin::Section-->
                                    <h4 class="mb-10 font-weight-bold text-dark">Review your Details and Submit</h4>
                                    <h6 class="font-weight-bolder mb-3">Current Address:</h6>
                                    <div class="text-dark-50 line-height-lg">
                                        <div>Address Line 1</div>
                                        <div>Address Line 2</div>
                                        <div>Melbourne 3000, VIC, Australia</div>
                                    </div>
                                    <div class="separator separator-dashed my-5"></div>
                                    <!--end::Section-->
                                    <!--begin::Section-->
                                    <h6 class="font-weight-bolder mb-3">Delivery Details:</h6>
                                    <div class="text-dark-50 line-height-lg">
                                        <div>Package: Complete Workstation (Monitor, Computer, Keyboard &amp; Mouse)</div>
                                        <div>Weight: 25kg</div>
                                        <div>Dimensions: 110cm (w) x 90cm (h) x 150cm (L)</div>
                                    </div>
                                    <div class="separator separator-dashed my-5"></div>
                                    <!--end::Section-->
                                    <!--begin::Section-->
                                    <h6 class="font-weight-bolder mb-3">Delivery Service Type:</h6>
                                    <div class="text-dark-50 line-height-lg">
                                        <div>Overnight Delivery with Regular Packaging</div>
                                        <div>Preferred Morning (8:00AM - 11:00AM) Delivery</div>
                                    </div>
                                    <div class="separator separator-dashed my-5"></div>
                                    <!--end::Section-->
                                    <!--begin::Section-->
                                    <h6 class="font-weight-bolder mb-3">Delivery Address:</h6>
                                    <div class="text-dark-50 line-height-lg">
                                        <div>Address Line 1</div>
                                        <div>Address Line 2</div>
                                        <div>Preston 3072, VIC, Australia</div>
                                    </div>
                                    <!--end::Section-->
                                </div>
                                <!--end::Wizard Step 3-->
                                <!--begin::Wizard Actions-->
                                <div class="d-flex justify-content-center border-top mt-5 pt-10">
                                    <div class="mr-2">
                                        <button type="button" class="btn btn-light-primary font-weight-bolder text-uppercase px-9 py-4" data-wizard-type="action-prev">Previous</button>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-success font-weight-bolder text-uppercase px-9 py-4" data-wizard-type="action-submit">Submit</button>
                                        <button type="button" class="btn btn-primary font-weight-bolder text-uppercase px-9 py-4" data-wizard-type="action-next">Next</button>
                                    </div>
                                </div>
                                <!--end::Wizard Actions-->
                            </form>
                            <!--end::Wizard Form-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>






