@using DDM.Authorization
@using DDM.Web.Areas.Portal.Models.SalesOrders
@using DDM.Web.Areas.Portal.Startup
@model SalesOrdersViewModel
@{
    ViewBag.CurrentPageName = PortalPageNames.Common.SalesOrders;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/Portal/Views/SalesOrders/Index.js" asp-append-version="true"></script>


}

<div class="content d-flex flex-column flex-column-fluid">

                <abp-page-subheader title="@L("SalesOrders")" description="@L("SalesOrdersHeaderInfo")">
                     
                     @if (IsGranted(AppPermissions.Pages_SalesOrders_Create))
                     {
                         <button id="CreateNewSalesOrderButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewSalesOrder")</button>                
                     }
                </abp-page-subheader>
            
<div class="@(await GetContainerClass())">   
    <div class="card card-custom gutter-b">
        <div class="card-body">
            <div class="form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">
                        <div class="form-group align-items-center">
                            <div class="input-group">
                                <input type="text" id="SalesOrdersTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                <span class="input-group-btn">
                                    <button id="GetSalesOrdersButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
						<div class="kt-separator kt-separator--border-dashed"></div>
					</div>

							<div class="col-md-3">
								<div class="form-group">
									<label for="NumberFilterId">@L("Number")</label>
									<input type="text" class="form-control" name="numberFilter" id="NumberFilterId">
								</div>
                            </div>
                            <div class="col-md-3">
                                    <div class="form-group">
										<label for="MinDateFilterId">@L("DateRange")</label>
										<div class="input-group">
											<input class="form-control m-input date-picker" type="text" placeholder="@L("MinValue")"  id="MinDateFilterId">
											<span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
											<input class="form-control m-input date-picker" type="text" placeholder="@L("MaxValue")"  id="MaxDateFilterId">
										</div>
									</div>
                            </div>
                            <div class="col-md-3">
                                    <div class="form-group">
										<label for="MinDeadlineFilterId">@L("DeadlineRange")</label>
										<div class="input-group">
											<input class="form-control m-input date-picker" type="text" placeholder="@L("MinValue")"  id="MinDeadlineFilterId">
											<span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
											<input class="form-control m-input date-picker" type="text" placeholder="@L("MaxValue")"  id="MaxDeadlineFilterId">
										</div>
									</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="CustomerNameFilterId">(@L("Customer")) @L("Name")</label>
									<input type="text" class="form-control" name="customerNameFilter" id="CustomerNameFilterId">
								</div>
                            </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
            <div class="row align-items-center">
                <table id="SalesOrdersTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th></th>
                            <th>@L("Actions")</th>
                            <th>@L("Number")</th>
                            <th>@L("Date")</th>
                            <th>@L("DueDate")</th>
                            <th>@L("CustomerName")</th>
                            <th>@L("Notes")</th>
                            <th>@L("ProductionStatus")</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
  </div>
</div>

