@using DDM.Authorization
@using DDM.Web.Areas.Portal.Startup
@{
    ViewBag.CurrentPageName = PortalPageNames.Common.DynamicEntityParameters;
}

@section Scripts
{
    <script abp-src="/view-resources/Areas/Portal/Views/_Bundles/entity-dynamic-parameters-index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <abp-page-subheader title="@L("EntityDynamicParameters")">
        @if (IsGranted(AppPermissions.Pages_Administration_EntityDynamicParameters_Create))
        {
            <button id="CreateNewEntityDynamicParameter" class="btn btn-primary">
                <i class="fa fa-plus"></i> @L("AddNewEntityDynamicParameter")
            </button>
        }
    </abp-page-subheader>
    
    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b" id="portlet-entity-list">
                        <div class="card-body">
                            <div class="align-items-center">
                                <table id="EntityDynamicParametersTable" class="display table table-separate table-head-custom dataTable no-footer dtr-inline dt-responsive nowrap">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>@L("EntityFullName")</th>
                                        <th>@L("DynamicParameter")</th>
                                        <th>@L("Actions")</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
    </div>
</div>
