
@model DDM.SalesOrderLines.Dtos.SalesOrderLineDto

<div class="row line-set">
    @Html.HiddenFor(m => m.Id, new { @class = "line-id" })
    @Html.HiddenFor(m => m.MarkForDelete, new { @class = "mark-for-delete" })
    <div class="col-3">
        <div class="form-group">
            <label for="m.Name">@L("Name")</label>
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control m-input" })
            <span class="form-text text-muted">Nama barang</span>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <label for="m.Description">@L("Description")</label>
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control m-input" })
            <span class="form-text text-muted">Bahan, ketebalan, dimensi, finishing</span>
        </div>
    </div>
    <div class="col-1">
        <div class="form-group">
            <label for="m.Quantity">@L("Quantity")</label>
            @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control m-input" })
        </div>
    </div>
    <div class="col-2">
        <div class="form-group">
            <label for="m.Price">@L("Price")</label>
            @Html.TextBoxFor(m => m.UnitPrice, new { @class = "form-control m-input" })
        </div>
    </div>
    <div class="col-2">
        <div class="form-group">
            <label for="m.LineAmount">@L("Amount")</label>
            <div class="input-group">
                @Html.TextBoxFor(m => m.LineAmount, new { @class = "form-control m-input" }) &nbsp;&nbsp;
                <button id="DeleteLineButton" name="DeleteLine[0]" class="btn btn-text-danger btn-sm delete-line" title="Delete Line"><i class="fa fa-trash-alt"></i></button>
            </div>
        </div>
    </div>


</div>