@using DDM.Web.Areas.Portal.Models.Common.Modals
@model DDM.Web.Areas.Portal.Models.Webhooks.CreateOrEditWebhookSubscriptionViewModel

<script>
    var createOrEditIsEdit = @Html.Raw(Model.WebhookSubscription.Id==default?"false":"true");
    var createOrEditHeaders = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.WebhookSubscription.Headers, Newtonsoft.Json.Formatting.Indented));
</script>
<link rel="stylesheet" abp-href="/view-resources/Areas/Portal/Views/WebhookSubscriptions/_CreateOrEditModal.css" asp-append-version="true" />

@await Html.PartialAsync("~/Areas/Portal/Views/Common/Modals/_ModalHeader.cshtml",
    new ModalHeaderViewModel(Model.WebhookSubscription.Id == default ? L("AddNewWebhookSubscription") : L("EditWebhookSubscription")))

<div class="modal-body">
    @if (Model.WebhookSubscription.Id != default)
    {
        <input type="hidden" name="Id" value="@Model.WebhookSubscription.Id" />
    }

    <div class="form-group col-12">
        <label for="webhookUri">@L("WebhookEndpoint")</label>
        <input id="webhookEndpointURL" type="text" name="webhookUri" class="form-control" value="@Model.WebhookSubscription.WebhookUri">
    </div>

    <div class="form-group col-12">
        <label for="webhookUri">@L("WebhookEvents")</label>
        @Html.DropDownList(
            "Webhooks",
            Model.AvailableWebhookEvents.Items.Select(e => new SelectListItem(e.Name, e.Description, Model.WebhookSubscription.Webhooks.Contains(e.Name)))
            , new { @class = "form-control select2 col-12", multiple = "multiple", style = "width: 100%;" }
            )
    </div>

    <hr />
    <div class="form-group col-12">
        <label for="webhookUri">@L("AdditionalWebhookHeaders")</label>
        <div class="form-group mb-2">
            <div class="input-group">
                <input type="text" class="form-control" id="CreateOrEditSubscription_HeaderKey" placeholder="@L("HeaderKey")">
                <input type="text" class="form-control" id="CreateOrEditSubscription_HeaderValue" placeholder="@L("HeaderValue")">
                <div class="input-group-append">
                    <button id="Btn_AddNewHeader" class="btn btn-primary" type="button">@L("Add")</button>
                </div>
            </div>
        </div>
        <div id="additional-header-list">
            @foreach (var header in Model.WebhookSubscription.Headers)
            {
                <div class="alert alert-custom alert-white m-1" id="additional-header-@header.Key" role="alert">
                    <div class="alert-text">@header</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="la la-close"></i></span>
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/Portal/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
